Package: com.adhd.pspbrowser
Version: 1.0
Author: MaxHasADHD <maxhasadhd@gmail.com> 
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Installed-Size: 154
Name: PSPBr0wser
Website: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=pspbrowserData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=pspbrowserData
Description: web browser with look of PSP's browser
dev: maxhasadhd
Section: Toys
Icon: file:///Applications/pspbrowser.app/icon.png
